*{
    padding: 0;
    margin: 0;
}

.container-body{
    background-color: #E5E5FD;
    display: block;
    min-height: 100vh;
    border:10px solid #1D1E4C;

}

.content{
  max-width: 900px;
 margin: 0 auto;

}

.top-section{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    align-items: flex-end;
}

.top-section h1{

    font-size: 50px;
    color: #1D1E4C;
    font-weight: bold;
    text-transform: capitalize;
}

.top-section h4{
    font-size: 30px;
    text-align: end;
}

.img-container{
    border-radius: 50%;
    overflow: hidden;

   
    


}


.img-container,img{
    
   
    


}

.main{
    margin: 80px 0;
}

.main h1{

    font-size: 50px;
    word-wrap: break-word;
    margin: 20px;
}

.main p{

    font-size: medium;
    word-spacing: 1.5px;
    margin: 20px;


}

.bio{
    margin-left: 20px;
}
.bio ul{
    margin-left: 20px;
    margin-top: 20px;
}

.end{
  margin: 50px 0;
  text-align: end;



}